
<section class="vh-80 gradient-custom">
    
    <div class="container py-2 h-10" style="display: inline; float: left;">
      <h5 class="fw-bold  text-center mb-4">Answer This Survey</h5>
      <div class="row d-flex align-items-center h-100" style="display: flex; justify-content: center; ">
        
        
        <div class="col-12 col-md-1 col-lg-6 col-xl-5 w-50" >
            
        
          <div class="card bg-white text-black" style="border-radius: 0px;">
            <div class="card-body  text-center">
              <div class="mb-md-1 mt-md-1 pb-2">
               
               <div class="mb-2 row">
                
              </div>
               
               
                <form>
                  <div class="row">
                    <div class="mb-2 row">
                        <label for="input-group-text" class="col-lg-4 col-form-label" style="font-size: medium; ">Name</label>
                        <div class="col-lg-8">
                          <input type="text"   name="name" class="form-control" >
                        </div> 
                      </div>
                      <div class="mb-2 row">
                        <label for="input-group-text" class="col-lg-4 col-form-label" style="font-size:  medium; ">Email</label>
                        <div class="col-lg-8">
                          <input type="text"   name="name" class="form-control" >
                        </div> 
                      </div>
                      <div class="mb-2 row">
                        <label for="input-group-text" class="col-lg-4 col-form-label" style="font-size: medium; ">Age</label>
                        <div class="col-lg-8">
                          <input type="text"   name="name" class="form-control" >
                        </div> 
                      </div>
                      <div class="mb-2 row">
                        <label for="input-group-text" class="col-lg-4 col-form-label" style="font-size:  medium; ">Phone Number</label>
                        <div class="col-lg-8">
                          <input type="text"   name="name" class="form-control" >
                        </div> 
                      </div>
                      <label for="input-group-text" class="col-lg-5 col-form-label" style="font-size: medium; ">Which option best describes you</label>
                      <div class="col-lg-5">
                          <select class="form-select" aria-label="Default select example">
                              <option selected>Select an option</option>
                              <option value="1">Student</option>
                              <option value="2">Intern</option>
                              <option value="3">Professional</option>
                            </select>
                      </div>                  
                </div>

                <div>
                  <label for="input-group-text" class="col-lg-9 col-form-label" style="font-size: medium; ">Would you reccomend our website to your friends?</label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                    <label class="form-check-label" for="flexRadioDefault2">
                      No
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                    <label class="form-check-label" for="flexRadioDefault2">
                      Maybe
                    </label>
                  </div>
              </div>
              
              <div>
                <label for="input-group-text" class="col-lg-9 col-form-label" style="font-size: medium; ">Languages and frameworks known?</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                   Java
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                  C++
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                  Agular
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Python
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                  Spring Boot
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                  Node JS
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                  React JS
                </label>
              </div> 
              </div>
                  <!-- <button class="btn btn-outline-dark btn-lg px-5" type="submit">Sign Up</button> -->
                  <input type="submit" class="btn btn-warning btn-lg px-5 mt-2" value="Save">
                </form>
                </div>
                </div> 
                
              </div> 
              
            </div> 
       </div>  
</div>   



        
      </section>