<div>
 
<img src="../../assets/images/survey image.png" class="d-block w-100" style="height: 40rem; width: 100rem; position:relative; "
alt="...">
<h2 style=" position:absolute;
top:35%;
left:10%; font-family: Merriweather,serif; color: #141924; font-weight: 400; ">Create FREE online surveys with <br> unlimited questions and <br> responses!</h2>
<Button  class="btn btn-primary p-3 text-uppercase; fw-bold" routerLink="/userlogin" style=" position:absolute;
top:55%; background-color:  #04AA6D;
left:15%; border: 1px solid black; border-radius: 20px;">Answer a Survey</Button>
   
</div>
