<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="text-center">
    <img src="../../assets/images/survey_logo.png" routerLink="/" class="d-block" style="height: 5rem; width: 9rem;   margin-left: 10px ; cursor: pointer;"
    alt="...">


  </div>

  <a class="btn btn-warning btn-lg px-4 " style="margin-left: 70%;"  routerLink="/adminlogin">Admin Login</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
  </nav>